.btn-success{
	background-color: #00b382 !important;
}
.green{
	color: #00b382;
}
.img-radio {
	opacity: 0.5;
	margin-bottom: 5px;
}
.hidden{
	display: none;
}
.space-20 {
    margin-top: 20px;
}
.datepicker td{
	width: 30px;
	height: 30px;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
.form-control{
	border-bottom:2px solid #00b382;
	box-shadow: none !important;
}
.step-anchor .nav-item a.nav-link{
	padding-top: 1.4em;
	padding-bottom: 1.4em;
}
.step-anchor .nav-item.active{
	background-color: #00cc95;
}
.sw-theme-default > ul.step-anchor > li > a::after{
	background-color: #00b382;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus:hover {
    -webkit-box-shadow: inset 0 -2px 0 #00b382;
    box-shadow: inset 0 -2px 0 #00b382;
}
.step-anchor .nav-item.done a.nav-link h5{
	color:#00cc95;
}
.step-anchor .nav-item.active a.nav-link h5{
	color: #ffffff;
	font-weight: bolder;
}
.tab-title-icon{
	font-size: 2em;
}
.nav-pills.city-pill .nav-item.nav-link.active{
	background-color: #00b382;
}
.city-pill .nav-item{
	color: #00b382;
	font-size: 1.2em;
	padding: 1em 1.4em;
	border-radius: 0px;
}
.sw-theme-default .sw-toolbar{
	padding: 2em 1em !important;
	background-color: transparent;
	border-top:1px solid rgba(0,0,0,0.3);
}

/*FOOTER*/
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}